/node_modules
/public/hot
/public/storage
/bootstrap/cache/*
/storage/
/storage/*.key
/storage/keys/*
!/storage/keys/*.example
/app/http/controllers/api/APIDocController.php
/app/Http/Controllers/API/APIDocController.php
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.env.manager
.env.game
.DS_Store
/storage/api-docs/*
/storage/api-docs/api-docs.json
Dockerfile
docker-compose.yaml
tests/AB/output/*.output
tests/AB/token.txt